<div class="principal">


    <div class="container">
        <div class="texto">
            <div class="titulo">
                <p>Shop Lith</p>
    
            </div>
    
    <div class="slogan">
        <p>Maxima Calidad, Precio Imcomparable</p>
    </div>
    <div class="dto">
        <p>Log in for free! and get a 10% discount.</p>
    </div>
    <mat-card *ngIf="auth.user$ | async as user" style="margin-bottom: 20px">
        <h3>Wellcome {{ user.name}}</h3>
    </mat-card>
    
    <button  *ngIf="!isAuthenticated"  [routerLink]="['/tiendafree']" ><span >Entrar</span></button>
    <button  *ngIf="isAuthenticated"  [routerLink]="['/tiendafree']" ><span >Entrar<sup>-10 Dto</sup></span></button>
    
        </div>
       
        <div class="imagen">
    <img src="../../../assets/images/logocarrito.png" width="80%" alt="">
        </div>
    </div>
    
</div>

