<div class="principal">


    <div class="container">
        <div class="texto">
            <div class="titulo">
                <p>Shop Lith</p>
    
            </div>
    
    <div class="slogan">
        <p>Maxima Calidad, Precio Imcomparable</p>
    </div>
    <div class="dto">
        <p>Log in for free! and get a 10% discount.</p>
    </div>
    <button routerLink="/tienda"  (click)="signIn()"><span >Login<sup>-10 Dto</sup></span></button>
    <button  routerLink="/tiendafree"><span >Free</span></button>
        </div>
       
        <div class="imagen">
    <img src="../../../assets/images/logocarrito.png" width="80%" alt="">
        </div>
    </div>
    
</div>

