.principal {
    width: 100%;
    height: 100vh;
    background-color: black;

}
button{
    padding: 10px 45px;
    border: 2px solid;
    background-color: transparent;
    color: aliceblue;
    font-size: 40px;
    margin-left: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 30px;
}
button:hover{
    background-color:rgb(255, 115, 80);
}
sup {
    background-color: red;
    color: aliceblue;
    border: 1px solid;
    padding:2px 5px;
    font-size: 0.4em;
    border-radius: 15px;
    margin-left: 5px;
}
.dto{
    margin-bottom: 30px;
}
.container {
    width: 90%;
    display: flex;
    
    margin: auto;
    align-content: center;
    height: 100vh;


}

.texto {
    width: 40%;
    margin: auto;

    color: aliceblue;
    text-align: center;


}

.titulo {
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6em;
    font-weight: 800;

    letter-spacing: 3pt;
    /* para separar entgre letras */
    word-spacing: 12pt;
}

.slogan {
    font-size: 2rem;
    line-height: 1.6em;
}

.imagen {
    width: 60%;
    margin: auto;
    text-align: center;


}

@media screen and (max-width: 980px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
        height: 100vh;

    }
    .imagen{
        width: 100%;
        margin: auto;
        text-align: center;
        
        
        }
        .texto {
            width: 100%;
            margin: auto;
        
            color: aliceblue;
            text-align: center;
        
        
        }
        .titulo {
            font-size: 6rem;
            font-family: 'Times New Roman', Times, serif;
            line-height: 1.2em;
            font-weight: 800;
        
            letter-spacing: 3pt;
            /* para separar entgre letras */
            word-spacing: 12pt;
        } 
}